body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(5, 201, 250);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

section {
    margin-bottom: 30px;
}

h2, h3 {
    color: #333;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #3E8E41;
}

dt {